div.backdrop {
  background: #0079BF;
}

div.boardShowContainer {
  width: 90%;
  height: 100%;
  min-height: 500px;
  margin: 0 auto;
  position: relative;
  display: block;
}

.boardShowContainer > h1 {
  font-size: 18px;
  color: white;
  font-weight: bolder;
  margin: 10px 10px;
  min-height: 19px;
  min-width: 30px;
  display: inline;
}

.boardShowContainer > a {
  margin-left: 15px;
  font-size: 15px;
}

a.deleteBoard:hover {
  color: red;
}

a.newList:hover {
  color: #00d000;
}

a.indexReturn:hover {
  color: orange;
}

div#main ul.board-lists li.listListItem {
  margin: 10px;
  padding: 10px;
  float: left;
  background: #eee;
  border-radius: 5px;
  font-size: 20px;
  box-shadow: 0 2px 2px 0 #eee;
  position: relative;
}

div.board-show-utils {
  width: 150px;
  height: 20px;
  display: block;
  position: absolute;
  margin: auto 0;
  bottom: 40px;
}
