

div.newCard {
  position: absolute;
  min-height: 100px;
  min-width: 165px;
  bottom: -20px;
  border-radius: 3px;
}

div.newCard input#title {
  min-height: 60px;
  border-radius: 5px;
  font-size: 12px;
  align: top;
}
