<p class='errors'></p>

<form>
  <input
    id="title"
    type="text"
    name="title"
    value="<%= card.escape("title") %>">

  <input
    type="submit"
    value="Add">

  <button class='cancel'>X</button>
</form>
