<h1><%= board.escape('title') %></h1>
<a href="/#/boards/<%=board.id%>/lists/new" class="newList">
  Make New List
</a>
<a href="#" class="indexReturn">Back To My Boards</a>
<a href="#" class="deleteBoard">Delete Board</a>
<ul class="board-lists"></ul>
