<h1><%= list.id ? "Edit List" : "New List" %></h1>

<p class='errors'></p>

<form>
  <label for="title">Title</label>
  <input
    id="title"
    type="text"
    name="title"
    value="<%= list.escape("title") %>">

  <input
    type="submit"
    value="submit">
</form>
